{% extends "base.html" %}

{% block jumbotron %}
||||||||||||||||||||||||*********************************************************||||||||||||||||||||||
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-6 col-md-8 col-sm-3 " style = "background-color:OrangeRed">r1c1
      <div class = "row">
          <div class = "col-6" style="background-color:blue">subc:r1c1c1</div>
          <div class = "col-6" style="background-color:green">subc:r1c1c2</div>
      </div>
  </div>
  <div class="col-lg-6 col-md-4 col-sm-6 " style = "background-color:cyan">r2c2</div>
</div>

{% endblock %}
